body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
    color: #666;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 50px;
}

@media(min-width:300) {
    #hotMovie {}
}

.hotMovie {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0;
}

.hotMovie li {
    list-style: none;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    height: 205px;
}

.hotMovie {
    padding: 15px 0 43px 0;
}

.item {
    margin-left: 0.27rem;
    width: 100px;
}

a:hover {
    text-decoration: none;
}

.container {
    min-width: 205px;
    max-width: 650px;
}

.navbar-heard img {
    height: 100%;
}

.list-container {
    margin: 20px auto;
}

.rowList {
    background: #F6F6F6;
    text-align: center;
    line-height: 20px;
    padding: 10px 0;
    margin: 5px 1%;
    width: 48%;
}

.rowList a {
    color: #494949;
    font-size: 15px;
    display: block
}

.newsBox {
    padding: 10px 0 19px 0;
    border-bottom: 1px solid #F1F1F1;
}

.rowNews div h4 {
    color: #494949;
    line-height: 1.4;
}

.rowNews div p {
    color: #aaa;
    font-size: 12px;
    line-height: 1.2;
}

.newsTitle {
    color: #aaa;
    font-size: 12px;
    height: 14px;
}

.newsLeft {
    float: left;
}

.newsRight {
    float: right;
}

#nextPage {
    margin: 0 auto;
}


/* movie 页面*/

.movieTitle {
    height: 39px;
}

.movieLeft {
    float: left;
    color: #111;
    font-size: 1.8rem;
}

.movieRight {
    float: right;
    line-height: 39px;
}

.movieRight a {
    color: #42BD56;
}

.hotMovie {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0;
}

.hotMovie li {
    list-style: none;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    height: 205px;
}

.hotMovie {
    padding: 15px 0 43px 0;
}

.hotMovie a p {
    color: #111;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.hotMovie a span {
    color: #aaa;
    font-size: 12px;
}


/*--------------------*/

.freeMovie {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0;
}

.freeMovie li {
    list-style: none;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    height: 205px;
}

.freeMovie {
    padding: 15px 0 43px 0;
}

.freeMovie a p {
    color: #111;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.freeMovie a span {
    color: #aaa;
    font-size: 12px;
}


/*-----------------*/

.newMovie {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0;
}

.newMovie li {
    list-style: none;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    height: 205px;
}

.newMovie {
    padding: 15px 0 43px 0;
}

.newMovie a p {
    color: #111;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.newMovie a span {
    color: #aaa;
    font-size: 12px;
}

.item-poster {
    width: 100%;
    height: 143px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.rank .glyphicon {
    letter-spacing: -4px;
}


/*----------------------------*/

.findMovie {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0 0 8px 8px;
}

.findMovie li {
    list-style: none;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    height: 52px;
    border-radius: 5px;
    line-height: 52px;
    margin: 0 2px 5px 2px;
}

.findMovie {
    padding: 15px 0 43px 0;
}

.findMovie a {
    padding: 0 1rem;
    font-size: 15px;
}

.line {
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    margin: 0;
}

.rowMovie {
    border-bottom: 1px solid #eee;
}

.rowMovie div {
    height: 3.52rem;
    line-height: 3.52rem;
    padding-right: 3rem;
    border-bottom: 1px solid #eee;
}

.rowMovie div span {
    color: #ccc;
    float: right;
    font-weight: bold;
    display: inline-block;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    width: .67rem;
    height: .67rem;
    transform: rotate(-45deg);
    margin-top: 1.3rem;
}

.rowMovie>div:nth-of-type(2n+1) {
    border-right: 1px solid #eee;
}

.rowMovie>div:nth-of-type(1) {
    border-top: 1px solid #eee;
}

.rowMovie>div:nth-of-type(2) {
    border-top: 1px solid #eee;
}

.rowMovie div a {
    color: #42bd56;
    display: inline-block;
    width: 90%;
    font-size: 15px;
}


/*.findMovie {
    width: 350px;
    display: inline-block;
    border-radius: 5px;
    height: 52px;
    text-align: center;
    border: 1px solid #FFC46C;
    margin: 0 0 8px 8px;
    line-height: 52px;
}

.findMovie a {
    font-size: 15px;
}*/