<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/m.douban.css">
</head>

<body>
    <div class="bigbox">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-heard">
                    <a href="index.html" class="navbar-brand logo"><img src="./img/logo.png" class=" img-responsive" alt="豆瓣"></a>
                </div>
                <button class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        	</button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class=" nav navbar-nav navbar-right" id="navbarList">
                        <li><a href="movie.html" class="active">电影</a></li>
                        <li><a href="">图书</a></li>
                        <li><a href="">广播</a></li>
                        <li><a href="">小组</a></li>
                        <li class="search">
                            <a class="glyphicon glyphicon-search"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section>
            <div class="container">
                <div class="movieTitle">
                    <h4 class="movieLeft">&nbsp;&nbsp;影院热映</h4>
                    <p class="movieRight"> <a href="https://m.douban.com/movie/nowintheater?loc_id=108288">更多</a> </p>
                </div>
                <div class="container">
                    <ul class="inline hotMovie">

                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="movieTitle">
                    <h4 class="movieLeft">&nbsp;&nbsp;免费在线观影</h4>
                    <p class="movieRight"> <a href="https://m.douban.com/movie/nowintheater?loc_id=108288">更多</a> </p>
                </div>
                <div class="container">
                    <ul class="inline freeMovie ">

                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="movieTitle">
                    <h4 class="movieLeft">&nbsp;&nbsp;新片速递</h4>
                    <p class="movieRight"> <a href="https://m.douban.com/movie/nowintheater?loc_id=108288">更多</a> </p>
                </div>
                <div class="container">
                    <ul class="inline newMovie ">

                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="movieTitle">
                    <h4 class="movieLeft">&nbsp;&nbsp;发现好电影</h4>
                    <p class="movieRight"> <a href="https://m.douban.com/movie/nowintheater?loc_id=108288">更多</a> </p>
                </div>
                <div class="container">
                    <ul class="inline findMovie">
                        <li><a href="">同时入选IMDB250和豆瓣电影250的电影</a></li>
                        <li><a href="">带你进入不正常的世界</a></li>
                        <li><a href="">用电【影】来祭奠逝去的岁月</a></li>
                        <li><a href="">女孩们的故事【电影】</a></li>
                        <p class="line"></p>
                        <li><a href="">科幻是未来的钥匙——科幻启示录【科幻题材】</a></li>
                        <li><a href="">美国生活面面观</a></li>
                        <li><a href="">2015终极期待</a></li>
                        <li><a href="">经典韩国电影——收集100部</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="movieTitle">
                    <h4 class="movieLeft">&nbsp;&nbsp;分类浏览</h4>
                </div>
                <div class="container">
                    <div class="row rowMovie">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/classic">经典</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/underrated">动作佳片</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/doubantop">豆瓣高分</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/action">动作</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/comedy">喜剧</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/love">爱情</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/mystery">悬疑</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/horror">恐怖</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/scifi">科幻</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/sweet">治愈</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/artfilm">文艺</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/youth">成长</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/animation">动画</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/chinese">华语</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/western">欧美</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/korean">韩国</a><span></span></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><a href="m.douban.com/movie/japanese">日本</a><span></span></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="searchbox">

    </div>
</body>
<script src="./js/jquery.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/underscore.js" type="text/javascript" charset="utf-8"></script>
<script type="text/template" id="template">
    <li class="item">
        <a href="<%= url %>">
            <div class="item-poster" style="background-image:url(<%= cover.url %>)">

            </div>
            <p class="item-title">
                <%= title %>
            </p>
            <div class="item-rating">
                <div class="rank">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span >4.8</span>
                </div>
            </div>
        </a>
    </li>
</script>
<script type="text/template" id="template1">
    <li class="item">
        <a href="<%= url %>">
            <div class="item-poster" style="background-image:url(<%= cover.url %>)">

            </div>
            <p class="item-title">
                <%= title %>
            </p>
            <div class="item-rating">
                <div class="rank">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="numberIndex" ><%= rating.value %></span>
                </div>
            </div>
        </a>
    </li>
</script>
<script src="./js/movie.douban.js"></script>

</html>